<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Orders</title>
    <style>
        table { 
            width: 100%; 
            border-collapse: collapse; 
        }
        th, td { 
            padding: 8px; 
            border: 1px solid #ccc; 
            text-align: left; 
        }
        th { 
            background: #f0f0f0; 
        }
    </style>
</head>
<body>
    <h1>All Orders</h1>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Products</th>
                <th>Total Price</th>
                <th>payment type </th>
                <th>address</th>
                <th>Number</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% if (orders.length === 0) { %>
                <tr><td colspan="5">No orders found</td></tr>
            <% } else { %>
               <% orders.forEach(order => { %>
                <tr>
                    <td><%=order.userId.email %></td> 
                    <td>
                    <ul>
                        <% order.items.forEach(item => { %>
                        <li><%= item.productId && item.productId.name %> x <%= item.quantity %></li>
                        <% }) %>
                    </ul>
                    </td>
                    <td>₹<%= order.total.toFixed(2) %></td>
                    <td> <%= order.paymentMethod || "cash on delevery" %> </td>
                     <td> <%= order.address %><br></td>
                     <td> <%= order.phone %></td>
                     <td>
                        <form action="/all-orders/update-status/<%= order._id %>" method="POST">
                            <select name="status">
                            <option value="Pending" <%= order.status === "Pending" ? "selected" : "" %>>Pending</option>
                            <option value="Shipped" <%= order.status === "Shipped" ? "selected" : "" %>>Shipped</option>
                            <option value="Delivered" <%= order.status === "Delivered" ? "selected" : "" %>>Delivered</option>
                            <option value="Cancelled" <%= order.status === "Cancelled" ? "selected" : "" %>>Cancelled</option>
                            </select>
                            <button type="submit">Update</button>
                        </form>
                     </td>
                    
                </tr>
                <% }) %>
            <% } %>
        </tbody>
    </table>
</body>
</html>
